@keyframes floating {
	0% {
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.genre {
	opacity: 0;
	animation-name: floating;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	padding: 3px;
}

.genre > a {
	padding: 3px 5px;
}
