.headerContainer {
	padding: 0 15px;
	margin-bottom: 30px;
}

.headerWrapper {
	width: 100%;
}

.navItems {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px dashed;
}

.navItem > a {
	padding: 3px 5px;
}

.navDot {
	display: inline-block;
	vertical-align: middle;
	background-color: var(--accentBlue);
	width: 5px;
	height: 5px;
	border-radius: 5px;
	margin: 0 7px;
	font-size: 0;
}

@media screen and (max-width: 480px) {
	.headerContainer {
		margin-bottom: 20px;
	}
}
