.header {
	width: 100%;
}

.navItems {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	border-bottom: 1px solid #a6a6a6;
	margin-bottom: 20px;
}

.navDot {
	display: inline-block;
	vertical-align: middle;
	background-color: var(--accentBlue);
	width: 5px;
	height: 5px;
	border-radius: 5px;
	margin: 0 7px;
	font-size: 0;
}
