.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.82%, 1fr));
	justify-content: center;
	justify-items: start;
	grid-gap: 15px;
}

@media screen and (max-width: 480px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
