.container {
	font-size: 16px;
	padding: 30px 10px;
}

.container h1 {
	font-size: 1.5em;
	padding: 10px 0;
	line-height: 1.5;
	text-align: center;
	animation: appearing 1.5s ease-in-out 1;
}

.container ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 280px));
	justify-content: center;
	justify-items: start;
	margin-top: 30px;
}

@keyframes appearing {
	0% {
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
